[Unit]
Description=DaoliWeb Server
After=syslog.target network.target

[Service]
Type=notify
Restart=always
User=root
ExecStart=/usr/bin/daoliproxy

[Install]
WantedBy=multi-user.target
