<div class="dev-detail">

        <div class="dev-detail-left">
                <button class="dev-detail-btn"id="">Assign Device</button>
                <button class="dev-detail-btn"id="">Switch Network</button>
                <button class="dev-detail-btn"id="">Deactive Device</button>
                <button class="dev-detail-btn"id="">Delete From Network</button>
        </div>

        <div class="dev-detail-right">
                <label class="dev-info-left">Name:</label>
                <span  class="dev-info-right" id="dev-name">{{device.name}}</span>
                <label class="dev-info-left">IP Address:</label>
                <span class="dev-info-right" id="dev-ip">{{device.ip}}</span>
                <label class="dev-info-left">User:</label>
                <span class="dev-info-right" id="dev-owner">{{device.owner}}</span>
                <label class="dev-info-left">OS:</label>
                <span class="dev-info-right" id="dev-type">{{device.type}}</span>
                <label class="dev-info-left">Status:</label>
                <span class="dev-info-right" id="dev-status">{{device.status}}</span>
        </div>

</div>

