{% load i18n %}
{% load url from future %}

<h3>{% trans "Instance Monitor" %}</h3>
<br/>
{% if monitor_url %}
<iframe id="console_embed" src="{{ monitor_url }}" style="width:100%;height:100%"></iframe>

<script type="text/javascript">
    var fix_height = function() {
        $('iframe#console_embed').css({ height: $(document).height() + 'px' });
    };
    // there are two code paths to this particular block; handle them both
    if (typeof($) != 'undefined') {
        $(document).ready(fix_height);
    } else {
        addHorizonLoadEvent(fix_height);
    }
</script>

{% endif %}
