{% load i18n %}

<!--p style="margin-top:40px;padding-top:40px;"><div style="font-size:12px;color:rgb(85,85,85);text-align:center">Network Virtualization & SDN Innovation by  DaoliCloud Company</div><div style="font-size:12px;color:rgb(85,85,85);text-align:center">with Deep Cultivation into Openflow & Openstack</div></p-->
 <!--div class="partner">
    <ul class="brand-cls">
    <li class="brand-first"><h3>{% trans "Partnership with" %}</h3></li>
    <li><a href="http://www.intel.cn/content/www/cn/zh/homepage.html"><img src="{{ STATIC_URL }}daoli/images/intel.png"></a></li>
    <li><a href="http://www.biigroup.com/"><img src="{{ STATIC_URL }}daoli/images/bill.png"></a></li>
    <li><a href="http://www.wocloud.com.cn/webclient/"><img src="{{ STATIC_URL }}daoli/images/unicom.jpg"></a></li>
    </ul>
 </div-->
 <!--p style="text-align:center;font-size:13px;">DaoliCloud &copy;2011--2015 JING ICP: 13025460</p-->
  <script>horizon.addInitFunction();</script>
<style>
	.partner{width: 900px;margin-left: -135px;margin-bottom:10px;margin-top:50px}
	/*.partner img{margin-left:40px;}
	.partner span{font-weight:bold;display:block;float:left;margin-left: 0px;height:60px;line-height:90px;text-align:center;margin-right:20px;}*/
        ul.brand-cls {list-style-type: none;}
        ul.brand-cls li {display: inline-table;margin: 20px 20px}
        ul.brand-cls li.brand-first {}
</style>
