{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}rebuild_gateway_form{% endblock %}
{% block form_action %}{% url "horizon:admin:zones:gateway_rebuild" zone_id %}{% endblock %}

{% block modal_id %}rebuild_gateway_modal{% endblock %}
{% block modal-header %}{% trans "Rebuild Gateway" %}{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
    Confirm rebuild gateways !
  </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Rebuild Gateway" %}" />
  <a href="{% url "horizon:admin:zones:detail" zone_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
