<div class="row-fluid">
  <div class="span12" ><br/>
	<center>
        <div style="margin:0 auto;margin-top:30px;margin-bottom:50px;">
		<img src="{{ STATIC_URL }}dashboard/img/patent.png"></div>
    </center>

  {% if horizon_language != 'en' %} 
    <p style="border-bottom:1px solid #E2E2E2;font-size:20px;line-height:30px">道里云产品白皮书</p>
   <p class="lead" style="margin-top:10px;font-size:15px;line-height:20px;"> &nbsp&nbsp&nbsp&nbsp 一种Openflow新公式在 “傻瓜化” Openstack上的应用 ...
  <a style="font-size:18px;margin:0 auto;" href="{{ STATIC_URL }}Openflow云.pdf" target=_blank>read more</a></p><br/><br/>
 {% endif %} 

  {% if horizon_language != 'zh-cn' %}
<p style="border-bottom:1px solid #E2E2E2;font-size:20px;line-height:30px">A Novel Use of Openflow and Its Applications in Connecting Docker and Dummifying Cloud </p>
<p class="lead" style="margin-top:10px;font-size:15px;line-height:20px"> &nbsp&nbsp&nbsp&nbsp Build, Ship, Run any CLOUD, any SCALE ... 
<a style="font-size:18px;margin:0 auto;" href="{{ STATIC_URL }}OpenflowCloud.pdf" target=_blank>read more</a></p><br/><br/>
{% endif %}



   <p style="border-bottom:1px solid #E2E2E2;font-size:20px;line-height:30px">One Variable to Control Them All for Openflow</p>
   <p class="lead" style="margin-top:10px;font-size:15px;line-height:20px"> &nbsp&nbsp&nbsp&nbsp This article proposes a novel and general-purpose formulation for using the Openflow standard. The proposed technology for using Openflow can achieve various network services and functions provisioning ...
  <a style="font-size:18px;margin:0 auto;" href="{{ STATIC_URL }}whitepaper.pdf" target=_blank>read more</a></p><br/><br/>

   <p style="border-bottom:1px solid #E2E2E2;font-size:20px;line-height:30px"> Connecting Docker for Cloud Services IaaS Resource Consolidation with Network Virtualization and SDN</p>
   <p class="lead" style="margin-top:10px;font-size:15px;line-height:20px"> &nbsp&nbsp&nbsp&nbsp  The number of container-based CPUs will be 10-100 multiples up over that of hypervisor-based virtual machines ...
  <a style="font-size:18px;margin:0 auto;" href="{{ STATIC_URL }}container.pdf" target=_blank>read more</a></p><br/><br/>

	  <p style="border-bottom:1px solid #E2E2E2;font-size:20px;line-height:30px">From IaaS to PaaS to Docker Networking to … Cloud Networking Scalability</p>
   <p class="lead" style="margin-top:10px;font-size:15px;line-height:20px;"> &nbsp&nbsp&nbsp&nbsp This whitepaper presents DaoliCloud’s Network Virtualization Infrastructure (NVI) technology as a
scalable cloud networking solution ...
  <a style="font-size:18px;margin:0 auto;" href="{{ STATIC_URL }}nvi.pdf" target=_blank>read more</a></p><br/><br/>

  	  <p style="border-bottom:1px solid #E2E2E2;font-size:20px;line-height:30px">Openflow Enabled Cloud Scalability</p>
   <p class="lead" style="margin-top:10px;font-size:15px;line-height:20px;margin-bottom:50px;"> &nbsp&nbsp&nbsp&nbsp <strong>Challenge</strong> Recent success of Docker containers reveals arrival of a new era: the number of CPUs is exploding 10-100 folds up, cloud networking is already in a new movement of scalability upgrade ...
  <a style="font-size:18px;margin:0 auto;" href="{{ STATIC_URL }}OpenFlowForScalability.pdf" target=_blank>read more</a></p>

  </div>
</div>
