<p>Dear User</p>
<p>Thank you for registering a trial account! Your account information is as follows:</p>
<table border="1" cellspacing="0">
  <tr>
    <td>Username:</td><td>{{ username }}</td>
  </tr>
  <tr>
    <td>Password:</td><td>{{ password }}</td>
  </tr>
  <tr>
    <td>Email:</td><td>{{ email }}</td>
  </tr>
  <tr>
    <td>URL:</td><td>http://www.daolicloud.com/</td>
  </tr>
</table>
<p>Your instances' initial SSH username & password:</p>
<p>Username: root</p>
<p>Password: daoli123</p>

<div>
<p>Please change your instances initial password immediately upon login.</p>
<p>If you encounter any problem please let us know by sending email to: nvi@daolicloud.com</p>
<p>Thank you very much!</p>
<p>DaoliCloud</p>
</div>
